/draft_v01/client_secret.json
/draft_v01/credentials.json
/draft_v01/storage.json
/~$Google Calendar Notes v02.xlsb.xlsx
/draft_v01/token.pickle
/draft_v01/.ipynb_checkpoints/
/draft_v02/client_secret_oath_key_calendar.json
/draft_v02/client_secret_oath_key_gdrive.json
/draft_v02/cal_authorization.json
/draft_v02/simple_api_key.txt
